.navbar{
    max-width: 100vw;
    width: 100%;
    min-height: 14vh;
    max-height: 14vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h1{
        color: black;
        font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    span{
        color: white;
        font-size: 3rem;
        font-weight: 900;
    font-family: 'Roboto', sans-serif;
    }
    }
    .inputdiv{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: #000;
        max-width: 43vw;
        width: 100%;
        min-height: 7vh;
        max-height: 7vh;
        input{
            border: none;
            padding: 0px 43px;
            border-radius: 25px;
            max-width: 43vw;
        width: 100%;
        min-height: 7vh;
        max-height: 7vh;
        font-size: 21px;
        &:focus{
            outline: none;
        }
        }
        span{
            font-size: xx-large;
            position: absolute;
            left: 2%;
        }
    }
    .icons{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 160px;
width: 100%;
min-height: 7vh;
max-height: 7vh;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: font-size 250ms ease-in-out;
            text-align: center;
            max-width: 61px;
            width: 100%;
            min-height: 61px;
            font-size: 29px;
            &:hover{
                font-size: 3rem;
            }
        }
        .four{
            max-width: 70px;
            font-size: 34px;
            &:hover{
                font-size: 3.4rem;
            }
        }
    }
    img{
        cursor: pointer;
        border-radius: 50%;
        width: 52px;
    }
}
@media screen and (max-width:700px){
    .navbar{

        .icons{
            max-width: 140px;
        }
    }
    
}

@media screen and (max-width:650px){
    .navbar{
        .icons{
            max-width: 120px;
            span{
                max-width: 52px;
                width: 100%;
                font-size: 29px;
                &:hover{
                    font-size: 3rem;
                }
            }
            .four{
                max-width: 61px;
                font-size: 34px;
                &:hover{
                    font-size: 3.4rem;
                }
            }
        }
        
    }
    
}
@media screen and (max-width:650px){

    .navbar{
        h1{
            font-size: 2.5rem;
        span{
            font-size: 2.5rem;
            }
        }
        .inputdiv{
            input{
            font-size: 18px;
            
            }
         
        }
        
    }

}
@media screen and (max-width:550px){

    .navbar{
        h1{
            font-size: 1.8rem;
        span{
            font-size: 1.8rem;
            }
        }
        .inputdiv{
            min-height: 5vh;
            max-height: 5vh;
            input{
            min-height: 5vh;
            max-height: 5vh;
            font-size: 16px;
            
            }
            span{
                font-size: 25px;
            }
        }
        .icons{
            max-width: 110px;
            span{
                max-width: 52px;
                font-size: 25px;
                &:hover{
                    font-size: 2.5rem;
                }
            }
            .four{
                max-width: 52px;
                font-size: 30px;
                &:hover{
                    font-size: 2.7rem;
                }
            }
        }
        img{
        width: 49px;
        }
    }

}
@media screen and (max-width:475px){

    .navbar{
        h1{
            font-size: 1.6rem;
        span{
            font-size: 1.6rem;
            }
        }
        .inputdiv{
            min-height: 5vh;
            max-height: 5vh;
            input{
            min-height: 5vh;
            max-height: 5vh;
            font-size: 14px;
            
            }
            span{
                font-size: 23px;
            }
        }
        .icons{
            max-width: 100px;
            span{
                max-width: 48px;
                font-size: 21px;
                &:hover{
                    font-size: 2.3rem;
                }
            }
            .four{
                max-width: 48px;
                font-size: 26px;
                &:hover{
                    font-size: 2.5rem;
                }
            }
        }
        img{
        width: 45px;
        }
    }

}
@media screen and (max-width:425px){

    .navbar{
       
        .icons{
            max-width: 90px;
            span{
                max-width: 43px;
                font-size: 18px;
                &:hover{
                    font-size: 2.1rem;
                }
            }
            .four{
                max-width: 43px;
                font-size: 23px;
                &:hover{
                    font-size: 2.3rem;
                }
            }
        }
        img{
        width: 38px;
        }
    }

}
@media screen and (max-width:385px){

    .navbar{
       
        .inputdiv{
            input{
                
            padding: 0px 25px;
            font-size: 12px;
            
            }
            span{
                font-size: 21px;
            }
        }
        .icons{
            max-width: 70px;
            span{
                max-width: 34px;
                font-size: 18px;
                &:hover{
                    font-size: 1.8rem;
                }
            }
            .four{
                max-width: 34px;
                font-size: 23px;
                &:hover{
                    font-size: 2rem;
                }
            }
        }
        
    }

}
@media screen and (max-width:350px){

    .navbar{
        h1{
            font-size: 1.4rem;
        span{
            font-size: 1.4rem;
            }
        }
        .inputdiv{
            max-width: 41vw;
            min-height: 3vh;
            max-height: 3vh;
            input{
                
            padding: 0px 25px;
            min-height: 3vh;
            max-height: 3vh;
            font-size: 10px;
            
            }
            span{
                font-size: 18px;
            }
        }
        .icons{
            max-width: 61px;
            span{
                max-width: 25px;
                font-size: 15px;
                &:hover{
                    font-size: 1.6rem;
                }
            }
            .four{
                max-width: 29px;
                font-size: 20px;
                &:hover{
                    font-size: 1.8rem;
                }
            }
        }
        img{
        width: 38px;
        }
    }

}
@media screen and (max-width:300px){

    .navbar{
        h1{
            font-size: 1.4rem;
        span{
            font-size: 1.4rem;
            }
        }
        .inputdiv{
            max-width: 34vw;
            min-height: 3vh;
            max-height: 3vh;
            input{
                
            padding: 0px 25px;
            min-height: 3vh;
            max-height: 3vh;
            font-size: 8px;
            
            }
            span{
                font-size: 16px;
            }
        }
        .icons{
            max-width: 58px;
            span{
                max-width: 25px;
                font-size: 15px;
                &:hover{
                    font-size: 1.6rem;
                }
            }
            .four{
                max-width: 29px;
                font-size: 20px;
                &:hover{
                    font-size: 1.8rem;
                }
            }
        }
        img{
        width: 35px;
        }
    }

}